<nav class="grey darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="home">home</a></li>
      <li><a ui-sref="market">Products</a></li>
      <li><a ui-sref="calendar">Clases</a></li>
      <li><a ui-sref="login">Log In</a></li>
      <li><a ui-sref="registration">Register</a></li>
      <li><a>Log Out</a></li>
      <li><a ui-sref="sudo">Administrator</a></li>
      <li><a ui-sref="/#/"><i class="material-icons">shopping_basket</i></a></li>
    </ul>
    <!--  -->
    <ul class="side-nav" id="mobile">
      <li><a ui-sref="home">home</a></li>
      <li><a ui-sref="market">Products</a></li>
      <li><a ui-sref="calendar">Clases</a></li>
      <li><a ui-sref="login">Log In</a></li>
      <li><a ui-sref="registration">Register</a></li>
      <li><a>Log Out</a></li>
      <li><a ui-sref="sudo">Administrator</a></li>
      <li><a ui-sref="/#/"><i class="material-icons">shopping_basket</i></a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
